.q-radio-group {
  display: flex;
  flex-direction: row;
  width: fit-content;
  .q-radio:not(:first-child) {
    margin-left: 24px;
  }
  // 垂直排列
  &.is-vertical {
    flex-direction: column;
    .q-radio:not(:first-child) {
      margin-left: 0;
      margin-top: 8px;
    }
  }
}

// 滑块样式
.q-radio-group.is-button {
  padding: 2px;
  background: var(--q-color-default);
  border-radius: 8px;

  .q-radio:not(:first-child) {
    margin-left: 2px;
  }
}

// 不同大小
.q-radio-group__large {
  &.is-vertical .q-radio:not(:first-child) {
    margin-top: 12px;
  }
} 