/* 首页样式 */
.VPHome {
  margin-top: 50px;
}

.VPHero .container .name .clip {
  margin-left: -3px;
  font-size: 1.2em;
  font-weight: 500;
}

.VPHero .container .text {
  font-weight: 500;
}


/* 首页底部卡片 */
.VPHomeFeatures .VPFeature {
  border-radius: 16px;
}

.VPHomeFeatures .VPFeature .title {
  font-size: 20px;
  line-height: 30px;
}