/* 覆盖 VitePress 的默认样式 */


/* 颜色变量 */
:root {
  /* 主色 */
  --q-color-theme: #3280FF;
  --q-color-theme-h: #4693ff;
  --q-color-theme-a: #2268ea;
  --q-color-theme-alpha: #2465df18;

  /* 主文本颜色 */
  --vp-c-brand-1: var(--q-color-theme);
  --vp-c-brand-2: var(--q-color-theme-a);

  /* 代码文字大小 */
  --vp-code-font-size: 14px;

  /* 背景颜色 */
  --vp-c-bg: #FFFFFF;
  --vp-c-bg-soft: #F2F3F5;
  /* 边框颜色 */
  --vp-c-gutter: #ececf2;
  /* 顶栏背景 */
  --q-docs-nav-bg: #ffffffee;
  /* 滚动条颜色 */
  --q-docs-scrollbar-color: #d8dadd;
  --q-docs-scrollbar-hover: #d0d2d4;
  --q-docs-scrollbar-active: #babdc1;
}

.dark {
  --q-color-theme: #3280FF;
  --q-color-theme-alpha: #2871f820;

  --vp-c-bg: #121214;
  --vp-c-gutter: #222224;
  --vp-c-bg-soft: #1a1b1f;
  --q-docs-nav-bg: #141416DF;
  --q-docs-scrollbar-color: #424244;
  --q-docs-scrollbar-hover: #48484C;
  --q-docs-scrollbar-active: #5E5E63;

  /* 代码块 */
  --vp-code-block-bg: #ffffff08;
}


:root {
  /* 首页标题文本 */
  --vp-home-hero-name-color: var(--q-color-theme);

  /* 首页图像背景 */
  --vp-home-hero-image-background-image: linear-gradient(0deg, #3298ff30, #3298ff30);
  --vp-home-hero-image-filter: blur(65px);

  /* 按钮 */
  --vp-button-brand-bg: var(--q-color-theme);
  --vp-button-brand-hover-bg: var(--q-color-theme-h);
  --vp-button-brand-active-bg: var(--q-color-theme-a);

  /* tip 块 */
  --vp-custom-block-tip-bg: #3380ff20;
}

* {
  /* 去除移动端点击高亮样式 */
  -webkit-tap-highlight-color: transparent;
}

/* 鼠标选中文本样式 */
::selection {
  background-color: #3080FF60;
  color: inherit;
}


body {
  font-size: 14px;
}

/* 滚动条样式 */
body::-webkit-scrollbar {
  width: 6px;
  display: unset;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--q-docs-scrollbar-color);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--q-docs-scrollbar-hover);
}

body::-webkit-scrollbar-thumb:active {
  background-color: var(--q-docs-scrollbar-active);
}

/* 去除标题加粗 */
/* .vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4 {
  font-weight: normal;
} */

/* 去除标题下划线 */
.vp-doc h2 {
  border: none;
}


.vp-doc p {
  line-height: 24px;
}

/* 行内代码样式 */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6)>code {
  color: var(--vp-c-text-1);
}

.vp-doc :not(pre)>code {
  padding: 2px 6px;
}

/* 代码块 */
.vp-doc div[class*='language-'],
.vp-block {
  margin: 16px 0px;
  border-radius: 8px;
}


/* 代码组标题栏 */
.vp-code-group .tabs {
  margin-left: 0;
  margin-right: 0;
  border-radius: 8px 8px 0 0;
}


/* 首页按钮样式 */
.VPButton.medium.brand,
.VPButton.medium.alt {
  padding: 2px 40px 0 40px;
  line-height: 54px;
  border-radius: 100px;
  font-size: 1.3em;
}


/* 顶栏 */
.VPNavBar.home {
  background-color: transparent !important;
  border-bottom: 1px solid transparent !important;
  transition: all 0.1s;
}

.VPNavBar:not(.top) {
  background-color: var(--q-docs-nav-bg) !important;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--vp-c-gutter) !important;
}

.VPNavBar.has-sidebar {
  background-color: var(--q-docs-nav-bg) !important;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--vp-c-gutter) !important;
}

.VPNavBar .divider {
  display: none;
}

.VPNavBar .content-body {
  background-color: transparent !important;
}

.VPNavBarTitle.has-sidebar .title {
  border-bottom-color: transparent !important;
}

/* 顶栏右侧选项 */
.VPNavBarMenu .VPNavBarMenuLink {
  font-size: 15px;
}

.VPNavBarMenu .VPNavBarMenuGroup .button .text {
  font-size: 15px;
}

/* 顶栏搜索框 */
.VPNavBarSearch .DocSearch-Search-Icon {
  width: 16px;
  height: 16px;
}

.VPNavBarSearch .DocSearch-Button-Placeholder {
  font-size: 14px;
  color: var(--vp-c-text-3);
}


/* 侧边栏 */
.VPSidebar[data-v-6750ea26] {
  background-color: var(--vp-c-bg);
  /* border-right: 1px solid var(--vp-c-gutter); */
}

.VPSidebar[data-v-6750ea26] .curtain {
  background-color: var(--vp-c-bg);
}

.VPSidebar[data-v-6750ea26] .group+.group {
  border-top: none;
}

.VPSidebar[data-v-6750ea26]::-webkit-scrollbar {
  display: none;
}

/* 侧边栏选项样式 */
.VPSidebarItem>.item>.text {
  margin-bottom: 6px;
}

.VPSidebarItem .items .VPSidebarItem {
  margin-bottom: 4px;
  border-radius: 8px;
  transition: background 0.12s;
}

.VPSidebarItem .items .VPSidebarItem:hover {
  background: var(--vp-c-default-soft);
}

.VPSidebarItem .items .VPSidebarItem .VPLink {
  height: 36px;
  padding-left: 16px;
}

.VPSidebarItem .items .VPSidebarItem.is-active {
  background: var(--q-color-theme-alpha);
}

.VPSidebarItem .items .VPSidebarItem:hover:not(.is-active) .VPLink .text {
  color: var(--vp-c-text-2) !important;
}



/* 文档右侧索引菜单 */
.VPDocAside .content {
  border-left: 1px solid transparent;
}

.VPDocAside .outline-marker {
  width: 4px;
  left: 0px;
}


/* 代码演示块样式 */
.vitepress-demo {
  border-radius: 8px !important;
  border: 1px solid var(--vp-c-gutter) !important;
  overflow: hidden;
}

.vitepress-demo .demo-slot {
  padding: 40px !important;
}

.vitepress-demo .demo-actions {
  padding: 0 14px 0 8px !important;
  border-top: 1px dashed var(--vp-c-gutter) !important;
  justify-content: flex-end !important;
}

.vitepress-demo .demo-actions .demo-platforms {
  display: none;
}

.vitepress-demo .extra-class {
  border-top: 1px dashed var(--vp-c-gutter) !important;
}

.vitepress-demo [class*=language-] code {
  padding: 20px 22px !important;
}


/* 文档内表格样式 */
.vp-doc table {
  display: table !important;
  width: 100%;
  outline: 1px solid var(--vp-c-gutter);
  border-radius: 8px;
  overflow: hidden;
}

.vp-doc tr:nth-child(2n) {
  background: transparent;
}

.vp-doc tr {
  transition: background-color 0.1s;
  border: none;
}

.vp-doc thead tr {
  border-bottom: 1px solid var(--vp-c-gutter);
}

.vp-doc tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--vp-c-gutter);
}

.vp-doc tbody tr td:first-child {
  color: var(--q-color-theme);
}

.vp-doc tr:hover {
  background: #9c9cbf10;
}

.vp-doc th,
.vp-doc td {
  border: none;
}

.vp-doc tbody tr td {
  font-size: 15px;
}

.vp-doc tbody tr td:first-child {
  font-weight: bold;
}

.vp-doc tbody tr td:last-child {
  font-size: 14px;
}


/* 文档页脚按钮 */
.prev-next[data-v-29ec59c0] {
  border-top: 1px solid transparent;
}


/* 更改 NProgress 进度条的样式 */
#nprogress {
  position: absolute;
  z-index: 1000;
}
#nprogress .bar {
  background: var(--q-color-theme);
  height: 3px;
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--q-color-theme), 0 0 5px var(--q-color-theme);
}