.q-avatar {
  box-sizing: border-box;
  display: inline-block;
  flex-shrink: 0;
  width: var(--q-avatar-size);
  height: var(--q-avatar-size);
  background: var(--q-color-default-fill);
  border-radius: 8px;
  overflow: hidden;
  vertical-align: bottom;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// 不同的大小
.q-avatar__small {
  width: 24px;
  height: 24px;
  border-radius: 4.5px;
}
.q-avatar__medium {
  width: 36px;
  height: 36px;
  border-radius: 6px;
}
.q-avatar__large {
  width: 54px;
  height: 54px;
  border-radius: 8px;
}

// 圆形样式
.q-avatar__round {
  border-radius: 50%;
}