.q-scrollbar {
  position: relative;
  width: 100%;
  height: 100%;
  // 滑过滚动区域
  &:hover .q-scrollbar__bar {
    opacity: 1;
  }
  // 始终显示滚动条
  &.is-always-show {
    .q-scrollbar__bar {
      opacity: 1;
    }
  }
  // 修改原生滚动条样式
  &.is-native .q-scrollbar__wrapper {
    &::-webkit-scrollbar {
      width: 6px;
      display: unset;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--q-scrollbar-color);
      &:hover {
        background-color: var(--q-scrollbar-hover);
      }
      &:active {
        background-color: var(--q-scrollbar-active);
      }
    }
  }
}

// 滚动条内容区域
.q-scrollbar__wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

// 滚动条轨道
.q-scrollbar__bar {
  user-select: none;
  opacity: 0;
  position: absolute;
  transition: all .3s ease;
  background-color: transparent;
  &.is-active {
    opacity: 1;
  }
  // 垂直样式
  &.is-vertical {
    width: 6px;
    height: 100%;
    right: 0;
    top: 0;
    .q-scrollbar__thumb {
      width: 6px;
    }
  }
  // 水平样式
  &.is-horizontal {
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
    .q-scrollbar__thumb {
      height: 6px;
    }
  }
  // 是否点击
  &.is-active {
    .q-scrollbar__thumb {
      background: var(--q-scrollbar-active);
    }
  }
}

// 滑块
.q-scrollbar__thumb {
  border-radius: 100px;
  position: absolute;
  left: 0;
  background: var(--q-scrollbar-color);
  &:hover {
    background: var(--q-scrollbar-hover);
  }
}
