@use '../../../styles/mixins.scss' as *;

.q-divider {
  @include flex(x, center);
  box-sizing: border-box;
  width: 100%;

  .q-divider__line {
    flex: 1;
    height: 1px;
    background: var(--q-color-border);
  }

  .q-divider__title {
    margin: 0 12px;
    flex-shrink: 0;
  }

  &.q-divider__left {
    .q-divider__line-left {
      flex: none;
      width: 28px;
    }
  }

  &.q-divider__right {
    .q-divider__line-right {
      flex: none;
      width: 28px;
    }
  }

  &.is-vertical {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 1px 8px;
    width: 1px;
    background: var(--q-color-border);
  }
}
