.q-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--q-color-text-3);
}

.q-empty__text {
  margin-top: 8px;
}
.q-empty__extra {
  margin-top: 12px;
}