@use '../../../styles/mixins.scss' as *;

.q-empty {
  @include flex(y);
  width: 100%;
  height: 100%;
  color: var(--q-color-text-3);
  
  @include m( text ) {
    margin-top: 8px;
  }
  
  @include m( extra ) {
    margin-top: 12px;
  }
}