.q-avatar-group {
  display: inline-flex;

  // 给头像添加边框
  > .q-avatar {
    margin-left: -10px;
    outline: 3px solid var(--q-color-light);
  }
}

// 不同大小的位移距离
@mixin marginSize($size) {
  > .q-avatar:not(:first-child) {
    margin-left: $size;
  }
}
.q-avatar-group__small { @include marginSize(-8px) }
.q-avatar-group__medium { @include marginSize(-10px) }
.q-avatar-group__large { @include marginSize(-14px) }