@use 'sass:map';


// 命名空间
// @mixin n($name) {
//   .q-#{$name} {
//     @content;
//   }
// }

// 命名空间__参数
@mixin m($modify) {
  @at-root #{& + '__' + $modify} {
    @content;
  }
}


// 常用的 flex 布局
$flex-aligns: (
  'start': flex-start,
  'center': center,
  'end': flex-end
);
$flex-justifies: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly
);

@mixin flex($direction, $align: center, $justify: center) {
  display: flex;
  @if $direction == 'x' {
    align-items: map.get($flex-aligns, $justify);
    justify-content: map.get($flex-justifies, $align);
  }
  @else if $direction == 'y' {
    align-items: map.get($flex-aligns, $align);
    justify-content: map.get($flex-justifies, $justify);
    flex-direction: column;
  }
  @else {
    @error '无效的布局类型: #{$direction}'
  }
}

