@use 'sass:map';


// 命名空间
// @mixin n($name) {
//   .q-#{$name} {
//     @content;
//   }
// }

// 命名空间__参数
// @mixin m($modify) {
//   @at-root #{& + '__' + $modify} {
//     @content;
//   }
// }

// 常用的 flex 布局
$flex-types: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly
);

@function get-flex($type) {
  @if map.has-key($flex-types, $type) {
    @return map.get($flex-types, $type);
  } @else {
    @error '无效的布局类型: #{$type}';
    @return null;
  }
}

@mixin flex($direction, $type) {
  @if $direction == 'x' {
    display: flex;
    align-items: center;
    justify-content: get-flex($type);
  }
  @else if $direction == 'y' {
    display: flex;
    align-items: get-flex($type);
    justify-content: center;
    flex-direction: column;
  }
  @else {
    @error '无效的布局类型: #{$direction}'
  }
}