/*
* 组件库的主题颜色变量
*/

:root {
  // 标准颜色
  --q-color-light: #FFFFFF;
  --q-color-black: #101011;

  // 文本颜色
  --q-color-text-1: #303032;
  --q-color-text-2: #5d5f60;
  --q-color-text-3: #aeb0b6;
  --q-color-text-4: #cdced5;

  // 不同级别的颜色
  --q-color-default: #F1F1F4;
  --q-color-default-h: #EBEBEF;
  --q-color-default-a: #E0E0E5;
  --q-color-default-l: #F1F1F4;
  --q-color-default-l-h: #EBEBEF;
  --q-color-default-l-a: #E0E0E5;
  --q-color-default-fill: #D8D9DD;

  --q-color-primary: #3280FF;
  --q-color-primary-h: #4c8afe;
  --q-color-primary-a: #2465df;
  --q-color-primary-l: #e6f0fe;
  --q-color-primary-l-h: #dfebff;
  --q-color-primary-l-a: #d8e6fc;

  --q-color-success: #44c26a;
  --q-color-success-h: #51cb76;
  --q-color-success-a: #32a655;
  --q-color-success-l: #e6f6ea;
  --q-color-success-l-h: #def3e7;
  --q-color-success-l-a: #d5eedd;

  --q-color-warning: #ff9123;
  --q-color-warning-h: #fea042;
  --q-color-warning-a: #da7816;
  --q-color-warning-l: #fff3e6;
  --q-color-warning-l-h: #fceddc;
  --q-color-warning-l-a: #f9e5d0;

  --q-color-danger: #ff5d5d;
  --q-color-danger-h: #ff7272;
  --q-color-danger-a: #e44a4a;
  --q-color-danger-l: #ffeaea;
  --q-color-danger-l-h: #fee0e0;
  --q-color-danger-l-a: #fcd8d8;

  // 滚动条颜色
  --q-scrollbar: #404B6420;
  --q-scrollbar-hover: #404B6425;
  --q-scrollbar-active: #404B6435;

  // 边框颜色
  --q-color-border: #ECEDF0;
}


// 深色主题
html.dark {
  color-scheme: dark;

  // 标准颜色
  --q-color-light: #101011;
  --q-color-black: #FAFAFA;

  // 文本颜色
  --q-color-text-1: #f0f0f0;
  --q-color-text-2: #bdbdbf;
  --q-color-text-3: #606064;
  --q-color-text-4: #525256;

  // 不同级别的颜色
  --q-color-default: #242426;
  --q-color-default-h: #29292B;
  --q-color-default-a: #202022;
  --q-color-default-l: #242426;
  --q-color-default-l-h: #29292B;
  --q-color-default-l-a: #202022;
  --q-color-default-fill: #323336;

  --q-color-primary: #3280FF;
  --q-color-primary-h: #4693ff;
  --q-color-primary-a: #2268ea;
  --q-color-primary-l: #3280FF30;
  --q-color-primary-l-h: #4284ff30;
  --q-color-primary-l-a: #2b6eeb30;

  --q-color-success: #44c26a;
  --q-color-success-h: #51cb76;
  --q-color-success-a: #32a655;
  --q-color-success-l: #44c26a30;
  --q-color-success-l-h: #51d17830;
  --q-color-success-l-a: #31a75430;

  --q-color-warning: #ff9123;
  --q-color-warning-h: #fea042;
  --q-color-warning-a: #da7816;
  --q-color-warning-l: #ff912330;
  --q-color-warning-l-h: #ffa04130;
  --q-color-warning-l-a: #ea821930;

  --q-color-danger: #ff5d5d;
  --q-color-danger-h: #ff7272;
  --q-color-danger-a: #e44a4a;
  --q-color-danger-l: #ff5d5d30;
  --q-color-danger-l-h: #ff6b6b30;
  --q-color-danger-l-a: #ea494930;

  // 滚动条颜色
  --q-scrollbar: #7A849F30;
  --q-scrollbar-hover: #7A849F35;
  --q-scrollbar-active: #7A849F45;

  // 边框颜色
  --q-color-border: #242527;
}