.q-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  cursor: pointer;

  transition: all 0.1s !important;
  text-decoration: none !important;


  &.is-disabled {
    opacity: 0.6;
    cursor: default;
  }

  .q-icon {
    margin-right: 1px;
    transform: translateX(-1px);
  }
}


@mixin linkType($type) {
  .q-link__#{$type} {
    color: var(--q-color-#{$type}) !important;
    &.is-has-line::after {
      content: "";
      position: absolute; left: 0; bottom: 0px;
      width: 100%;
      height: 1px;
      background-color: var(--q-color-#{$type}-a);
      transition: transform 0.25s ease;
      transform: scale(0, 1);
    }
    &:hover:not(.is-disabled) {
      color: var(--q-color-#{$type}-a) !important;
      &.is-has-line::after { 
        transform: scale(1, 1); 
      }
    }
  }
}

$lineTypes: ('primary', 'success', 'warning', 'danger');
@each $type in $lineTypes {
  @include linkType($type)
}
