/**
 * .vitepress/theme/style.css
 * 自定义文档网站的样式
 * -------------------------------------------------------------------------- */

:root {
  --q-color-theme: #3380FF;
  --q-color-theme-h: #1e5ed5;
  --q-color-theme-alpha: #6f9ce318;

  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--q-color-theme);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * 组件: 按钮
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--q-color-theme);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--q-color-theme-h);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}


/**
 * 组件: 首页
 * -------------------------------------------------------------------------- */


:root {
  /* 首页标题文本 */
  --vp-home-hero-name-color: var(--q-color-theme);
  /* --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  ); */

  /* 首页图像背景 */
  --vp-home-hero-image-background-image: linear-gradient(0deg, #3380FF30, #3380FF30);
  --vp-home-hero-image-filter: blur(65px);
}


/**
 * 组件: 自定义块
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: #3380ff20;
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * 组件: Algolia
 * -------------------------------------------------------------------------- */
 
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


/**
 * 覆盖默认样式
 * -------------------------------------------------------------------------- */

* {
  /* 去除移动端点击高亮样式 */
  -webkit-tap-highlight-color: transparent;
}

/* 网站根字体大小 */
body {
  font-size: 14px;
}

/* 代码字体 */
code {
  font-size: 14px !important;
}


/* 文档内表格样式 */
.vp-doc table {
  display: table !important;
  width: 100%;
  outline: 1px solid var(--vp-c-divider);
  border-radius: 8px;
  overflow: hidden;
}
.vp-doc tr:nth-child(2n) {
  background: transparent;
}
.vp-doc tr {
  transition: background-color 0.2s;
  border: none;
}
.vp-doc thead tr {
  border-bottom: 1px solid var(--vp-c-divider);
}
.vp-doc tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--vp-c-divider);
}
.vp-doc tr:hover {
  background: var(--vp-c-bg-soft);
}
.vp-doc th,
.vp-doc td {
  border: none;
}


/* 去除标题的加粗 */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4 {
  font-weight: normal;
}

/* 去除标题的下划线 */
.vp-doc h2 {
  border: none;
}

/* 代码块加圆角 */
.vp-doc div[class*='language-'], .vp-block {
  margin: 16px 0px;
  border-radius: 8px;
}


/* 行内代码样式 */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: var(--vp-c-text-1);
}
.vp-doc :not(pre) > code {
  padding: 2px 6px;
}


/* 首页加高 */
.VPHomeHero .container .main {
  margin-top: 24px;
}


/* 代码演示块样式 */
.vitepress-demo {
  border-radius: 8px !important;
  border: 1px solid var(--vp-c-divider) !important;
  overflow: hidden;
}
.vitepress-demo .demo-slot {
  padding: 30px !important;
}
.vitepress-demo .demo-actions {
  padding: 0 14px 0 8px !important;
  border-top: 1px dashed var(--vp-c-divider) !important;
}
.vitepress-demo .extra-class {
  border-top: 1px dashed var(--vp-c-divider) !important;
}
.vitepress-demo [class*=language-] code {
  padding: 20px 22px !important;
}


/* 左侧边栏样式 */
.VPSidebarItem > .item > .text {
  margin-bottom: 6px;
}
.VPSidebarItem .items .VPSidebarItem {
  margin-bottom: 6px;
  border-radius: 8px;
  transition: background 0.12s;
}
.VPSidebarItem .items .VPSidebarItem:hover {
  background: var(--vp-c-default-soft);
}
.VPSidebarItem .items .VPSidebarItem .VPLink {
  height: 40px;
  padding-left: 16px;
}
.VPSidebarItem .items .VPSidebarItem.is-active {
  background: var(--q-color-theme-alpha);
}
.VPSidebarItem .items .VPSidebarItem:hover:not(.is-active) .VPLink .text {
  color: var(--vp-c-text-2) !important;
}


/* 文档右侧索引菜单 */
.VPDocAside .content {
  border-left: 1px solid var(--vp-c-divider);
}
.VPDocAside .outline-marker {
  width: 3px;
}