.q-switch {
  position: relative;
  display: inline-block;
  font-size: 14px;
  // 隐藏 input 元素，使用自定义的样式
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider-button .loadIcon {
    position: absolute;
  }
}

// 混合，不同的开关大小
@mixin switchSize($hieght, $slider, $space){
  width: calc(#{$hieght} * 1.7);
  height: $hieght;
  .slider {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--q-color-default-fill);
    border-radius: 2em;
    transition: all 0.2s;
    cursor: pointer;
    .slider-button {
      position: absolute;
      top: $space;
      left: $space;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $slider;
      height: $slider;
      background-color: #FFFFFF;
      border-radius: 10em;
      transition: all 0.2s;
    }
  }
  // 开关启用状态
  &.is-open .slider {
    background: var(--q-color-primary);
    .slider-button {
      left: calc(100% - #{$slider} - #{$space});
    }
  }
}

.q-switch__small { @include switchSize(18px, 12px, 3px) }
.q-switch__medium { @include switchSize(24px, 16px, 4px) }
.q-switch__large { @include switchSize(28px, 18px, 5px) }


// 加载状态
.q-switch.is-loading .slider {
  cursor: default !important;
}


// 禁用状态
.q-switch.is-disabled {
  opacity: 0.7;
  .slider {
    cursor: not-allowed;
  }
}