.q-icon {
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
  > svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    transform: rotate(var(--q-icon-rotate));
  }
  &.is-spin > svg {
    animation: iconSpinAnim 0.8s linear infinite;
  }
}

@keyframes iconSpinAnim {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}