.q-icon {
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
  > span {
    display: inline-flex;
    width: 1em;
    height: 1em;
    fill: currentColor;
    > svg {
      width: inherit;
      height: inherit;
    }
  }
  &.is-spin > span {
    animation: iconSpinAnim 0.8s linear infinite;
  }
}

@keyframes iconSpinAnim {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}