.q-icon {
  box-sizing: border-box;
  margin-top: 0.03em;
  display: inline-flex;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
  svg {
    fill: inherit;
    width: inherit;
    height: inherit;
  }
}