.q-button {
  position: relative;
  box-sizing: border-box;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border: none;
  color: #FFF;
  text-decoration: none;
  line-height: normal;
  transition: all 0.1s;

  padding: 20px;
  border-radius: 6px;
  font-size: 14px;
  
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
}


// 不同的大小，使用混合生成样式
@mixin button-size($height, $padding, $font-size, $border-radius, $empty-padding) {
  height: $height;
  padding: $padding;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-empty {
    padding: none;
    width: $height;
    height: $height;
  }
  &.q-button-shape__circle {
    width: $height;
    height: $height;
  }
}
.q-button-size__small {
  @include button-size(24px, 0 10px, 12px, 4.5px, 0 4px);
}
.q-button-size__medium {
  @include button-size(32px, 0 16px, 14px, 6px, 0 10px);
}
.q-button-size__large {
  @include button-size(38px, 0 20px, 14px, 6px, 0 10px);
}


// 不同的按钮形状
.q-button-shape__round {
  border-radius: 500px;
}
.q-button-shape__circle {
  padding: 0;
  border-radius: 50%;
  .q-button__text {
    display: none;
  }
}


// 按钮图标
.q-button__icon {
  position: absolute;
  left: 12px;
}
.q-button__text {
  transition: margin-left 0.2s;
}
// 图标存在，修改文本边距
.q-button .q-button__icon + .q-button__text {
  margin-left: 18px;
}
// 文本为空，图标居中
.q-button.is-empty .q-button__icon {
  left: 50%;
  transform: translateX(-50%);
}


// 加载图标
.q-button__loading {
  cursor: default !important;
}
.q-button__icon .loadingIcon {
  animation: loading 1s linear infinite;
}
// 旋转动画
@keyframes loading {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}


// 不同级别的按钮，使用混合生成样式
@mixin button-level($level, $color) {
  background: var(--q-color-#{$level});
  color: $color;
  &.q-button-style__plain {
    background: var(--q-color-#{$level}-l);
    color: var(--q-color-#{$level});
  }
  &:hover:not(.q-button__disabled) {
    background: var(--q-color-#{$level}-h);
    &.q-button-style__plain {
      background: var(--q-color-#{$level}-l-h);
    }
  }
  &:active:not(.q-button__disabled) {
    background: var(--q-color-#{$level}-a);
    &.q-button-style__plain {
      background: var(--q-color-#{$level}-l-a);
    }
  }
}
.q-button__default {
  @include button-level("default", var(--q-color-text-1));
  &.q-button-style__plain {
    color: var(--q-color-text-1);
  }
}
.q-button__primary {
  @include button-level("primary", #FFFFFF);
}
.q-button__success {
  @include button-level("success", #FFFFFF);
}
.q-button__warning {
  @include button-level("warning", #FFFFFF);
}
.q-button__danger {
  @include button-level("danger", #FFFFFF);
}


// 文字按钮
.q-button-style__text {
  background: transparent;
  &.q-button__primary { color: var(--q-color-primary); }
  &.q-button__success { color: var(--q-color-success); }
  &.q-button__warning { color: var(--q-color-warning); }
  &.q-button__danger { color: var(--q-color-danger); }
  &:hover:not(.q-button__disabled) {
    background: var(--q-color-default);
  }
  &:active:not(.q-button__disabled) {
    background: var(--q-color-default-h);
  }
}

// 长按钮
.q-button-style__long {
  width: 100%;
}

// 禁用状态
.q-button__disabled {
  opacity: 0.6;
  cursor: not-allowed;
}