.q-button {
  position: relative;
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-shrink: 0;

  padding: 0 20px;
  border: none;
  border-radius: 6px;
  transition: all 0.1s;
  
  font-size: 14px;
  line-height: normal;
  text-decoration: none;

  user-select: none;
  cursor: pointer;
}


// 混合：不同大小的按钮
@mixin buttonSize($size, $height, $padding, $fontSize, $borderRadius) {
  height: $height;
  padding: if($size == "small", 0px $padding, 0px $padding);
  font-size: $fontSize;
  border-radius: $borderRadius;
  // 文字为空，形状为圆形
  &.is-empty, &.q-button__circle {
    padding: none;
    width: $height;
  }
}
.q-button__small { @include buttonSize("small", 24px, 10px, 12px, 5px) }
.q-button__medium { @include buttonSize("medium", 30px, 16px, 14px, 6px) }
.q-button__large { @include buttonSize("large", 36px, 20px, 15px, 7px) }


// 混合：不同类型的按钮
@mixin buttonType($type) {
  background: var(--q-color-#{$type});
  color: if($type == "default", var(--q-color-text-1), #FFFFFF);
  // 二级按钮
  &.is-plain {
    background: var(--q-color-#{$type}-l);
    color: if($type == "default", var(--q-color-text-1), var(--q-color-#{$type}));
  }
  // 文字按钮
  &.is-text {
    background: transparent;
    color: if($type == "default", var(--q-color-text-1), var(--q-color-#{$type}));
    &.is-has-bg { background: var(--q-color-default-l) }
  }
  &:hover:not(.is-disabled) { 
    background: var(--q-color-#{$type}-h);
    &.is-plain { background: var(--q-color-#{$type}-l-h) }
    &.is-text { background: var(--q-color-default-l-h) }
    &.is-text.is-has-bg { background: var(--q-color-default-l-h) }
  }
  &:active:not(.is-disabled) { 
    transition: all 0.05s;
    background: var(--q-color-#{$type}-a);
    &.is-plain { background: var(--q-color-#{$type}-l-a) }
    &.is-text { background: var(--q-color-default-l-a) }
    &.is-text.is-has-bg { background: var(--q-color-default-l-a) }
  }
}

// 遍历生成按钮类型
$buttonTypes: ("default", "primary", "success", "warning", "danger");
@each $type in $buttonTypes {
  .q-button__#{$type} { @include buttonType($type) }
}


// 其他适配
.q-button {
  // 两侧按钮
  .q-icon {
    position: absolute;
    left: 12px;
  }
  .q-button__icon-right {
    position: absolute;
    left: auto;
    right: 12px;
  }
  // 文本和图标的间距
  .q-icon + .q-button__text {
    margin-left: 18px;
  }
  &.is-has-right-icon .q-button__text {
    margin-right: 18px;
  }
  // 按钮文本
  .q-button__text {
    transition: all 0.2s;
  }
  // 如果文本为空，让图标居中
  &.is-empty .q-icon {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}


// 圆角按钮
.q-button__round {
  border-radius: 500px;
}

// 圆形按钮（隐藏文本，只显示图标）
.q-button__circle {
  padding: 0;
  border-radius: 50%;
  .q-button__text {
    display: none;
  }
}

// 长按钮
.q-button.is-long {
  width: 100%;
}

// 加载状态
.q-button.is-loading {
  cursor: default !important;
}

// 禁用状态
.q-button.is-disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
