.q-tag {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: default;
}


// 圆角样式
.q-tag.is-round {
  border-radius: 100px;
}

// 左侧图标
.q-tag__icon {
  display: inline-flex;
  transform: translateX(-3px);
}

// 右侧加载图标
.q-tag__loading {
  display: flex;
  transform: translateX(3px);
}

// 右侧关闭按钮
.q-tag__close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateX(4px);
  transition: all 0.12s;
  cursor: pointer;
}


// 不同大小
@mixin tagSize($height, $padding, $radius, $font-size, $close){
  height: $height;
  padding: $padding;
  border-radius: $radius;
  font-size: $font-size;
  .q-tag__close {
    width: $close;
    height: $close;
  }
}
.q-tag__small { @include tagSize(20px, 0 6px, 4px, 12px, 16px) }
.q-tag__medium { @include tagSize(24px, 0 10px, 5px, 13px, 18px) }
.q-tag__large { @include tagSize(30px, 0 14px, 5px, 14px, 22px) }


// 不同类型
@mixin tagType($type) {
  background: var(--q-color-#{$type}-l);
  border: 1px solid transparent;
  color: var(--q-color-#{$type});
  // 显示边框
  &.is-bordered {
    border: 1px solid var(--q-color-#{$type}-l-a);
  }
  // 填充样式
  &.is-fill {
    color: #FFFFFF;
    background: var(--q-color-#{$type});
  }
  // 关闭按钮背景颜色
  &:not(.is-custom):not(.is-disabled) .q-tag__close:hover {
    background: var(--q-color-#{$type}-l-a);
  }
}
.q-tag__default { @include tagType("default"); color: var(--q-color-text-2); }
.q-tag__primary { @include tagType("primary") }
.q-tag__success { @include tagType("success") }
.q-tag__warning { @include tagType("warning") }
.q-tag__danger { @include tagType("danger") }


// 禁用状态
.q-tag.is-disabled {
  opacity: 0.7;
  cursor: not-allowed;
  .q-tag__close {
    cursor: not-allowed;
  }
}