.q-space {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  > .q-space__item {
    display: flex;
  }
}

// 预设间距
.q-space__small {
  gap: 6px;
}
.q-space__medium {
  gap: 12px;
}
.q-space__large {
  gap: 24px;
}


// 宽度占满父元素样式
.q-space.is-fill > .q-space__item {
  width: 100%;
}