.q-space {
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
}

.q-space__mini { gap: 4px }
.q-space__small { gap: 8px }
.q-space__medium { gap: 16px }
.q-space__large { gap: 24px }

.q-space__item {
  box-sizing: border-box;
  display: flex;
}

.q-space.is-fill {
  display: flex;  
  > .q-space__item {
    width: 100%;
  }
}