.q-space {
  --q-space-size: 0px;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  > .q-space__item {
    box-sizing: border-box;
    display: flex;
  }
  // 宽度占满父元素样式
  &.is-fill {
    width: 100%;
    .q-space__item {
      width: 100%;
    }
  }
}

// 混合，不同的间距
@mixin spaceItem($margin) {
  > .q-space__item:not(:first-child){
    margin-left: $margin;
    margin-top: 0;
  }
  &.is-vertical > .q-space__item:not(:first-child) {
    margin-top: $margin;
    margin-left: 0;
  }
}
// 使用CSS变量自定义大小
.q-space {
  @include spaceItem(var(--q-space-size));
}
// 预设大小
.q-space__small {
  @include spaceItem(6px);
}
.q-space__medium {
  @include spaceItem(12px);
}
.q-space__large {
  @include spaceItem(20px);
}